:root {
    
}

* {
    box-sizing: border-box;
    
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    line-height: 1.8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #666666;
}

.main {
    overflow: hidden;
}

body {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}